$orange-red: #F63E00;
$bg-color: #2B2B2B;
$logo-bg-color: #333333;
$white-color: #FFFFFF;
$orange-border: 0.875rem solid $orange-red;
$orange-border-mobile: 0.7rem solid $orange-red;
$transition: all .5s ease-in-out;